*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

body{
    height: 100%;
    color: white;
    background: linear-gradient(135deg, #04315f ,#12374e);
}

h1{
    height: 40px;
    margin: 10px 10px;
    line-height: 40px;
    font-size: 40px;
}

#info{
    height: 20px;
    margin: 10px 10px;
    line-height: 20px;
    font-size: 20px;
}

