
*{
    box-sizing: border-box;
}


/* 播放器容器 */
.custom-player {
    /* width: 100%; */
    padding: 25px;
    position: fixed;
    bottom: 16px;
    left: 3%;
    right: 3%;
    z-index: 1000;
    background: linear-gradient(135deg, #2c3e50, #34495e);
    border-radius: 16px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    color: white;
    font-family: Arial, sans-serif;
}

/* 音频信息 */
.audio-info {
    margin-bottom: 20px;
}

#audio-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}


/* 控制区域 */
.controls {
    display: flex;
    align-items: center;
    gap: 15px;
}

/* 播放/暂停按钮 */
.play-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #43bdf5;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    line-height: 40px;
    transition: background 0.5s;
}

.playing{
    font-size: 24px;
}



#play-btn:hover {
    background: #1ca6f0;
}

/* 进度条容器 */
.progress-container {
    flex: 1;
    height: 6px;
    background: #dae0e6;
    border-radius: 3px;
    cursor: pointer;
    overflow: hidden;
}

.progress-container:hover{
    height: 10px;
}

/* 已播放进度 */
.progress-bar {
    height: 100%;
    background: #e74c3c;
    width: 0%;
    transition: width 0.1s;
}

/* 时间显示 */
.time-display {
    font-size: 12px;
    color: #bdc3c7;
}

/* 音量控制 */
.volume-container {
    display: flex;
    align-items: center;
    gap: 8px;
}

.volume-icon {
    font-size: 16px;
    cursor: pointer;
}



.volume-slider {
    width: 80px;
    height: 6px;
    margin-left: 2px;
    background: #8298ae;
    border-radius: 3px;
    cursor: pointer;
}

.volume-slider:hover{
    height: 10px;
    border: #43bdf5 solid 1px;
}

.volume-level {
    height: 100%;
    background: #437df9;
    width: 70%;
}