


/* 播放器容器 */
.custom-player {
    /* width: 100%; */
    padding: 25px;
    position: fixed;
    bottom: 16px;
    left: 3%;
    right: 3%;
    z-index: 1000;
    background: color-mix(in srgb,var(--background-color) 50%,var(--lightness-color) 50%);
    border-radius: 16px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    /* color: white; */
    font-family: Arial, sans-serif;
}

/* 音频信息 */
.audio-info {
    margin-bottom: 20px;
}

#audio-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}


/* 控制区域 */
.controls {
    display: flex;
    align-items: center;
    gap: 15px;
}

.prev-btn,
.next-btn{
    width: 40px;
    height: 40px;
    background-color: transparent;
    color: var(--theme-color);
    line-height: 40px;
    font-size: 30px;
    cursor: pointer;
    border: none;
    transition: color 0.5s;
}
.prev-btn:hover,
.next-btn:hover{
    color: color-mix(in srgb,var(--theme-color) 90%,black 10%);
}

/* 播放/暂停按钮 */
.play-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--theme-color);;
    border: none;
    color: var(--text-color);
    font-size: 16px;
    cursor: pointer;
    line-height: 40px;
    transition: background 0.5s;
}

.playing{
    font-size: 24px;
}



.play-btn:hover {
    background: color-mix(in srgb, var(--theme-color) 90%, black 10%);;
}

.mod-btn-box{
    width: 40px;
}

.setting-btn{
    background: none;
    border: none;
    color: var(--text-color);
}

.fa-shuffle,
.fa-retweet,
.fa-repeat,
.fa-gear{
    margin: 0 10px;
    font-size: 20px;
    cursor: pointer;
}

/* 进度条容器 */
.progress-container {
    flex: 1;
    height: 6px;
    background: #dae0e6;
    border-radius: 3px;
    cursor: pointer;
    overflow: hidden;
}

.progress-container:hover{
    height: 10px;
}

/* 已播放进度 */
.progress-bar {
    height: 100%;
    background: var(--theme-color);
    width: 0%;
    transition: width 0.1s;
}

/* 时间显示 */
.time-display {
    font-size: 12px;
    color: #bdc3c7;
}

/* 音量控制 */
.volume-container {
    display: flex;
    align-items: center;
    gap: 8px;
}

.volume-icon {
    font-size: 16px;
    cursor: pointer;
}



.volume-slider {
    width: 80px;
    height: 6px;
    margin-left: 2px;
    background: #dae0e6;
    border-radius: 3px;
    cursor: pointer;
}

.volume-slider:hover{
    height: 10px;
    /* border: #43bdf5 solid 1px; */
}

.volume-level {
    height: 100%;
    background: var(--theme-color);
    width: 70%;
}