

.play-list-box {
    width: 100%;
    
    /* margin: 0 20px; */
    /* overflow: auto; */
}

.play-list {
    width: 100%;

    /* overflow: auto; */
}

.play-list-item{
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    cursor: pointer;
}

.play-list-item:hover{
    background-color: color-mix(in srgb, var(--background-color) 90%, rgb(148, 148, 148) 10%);
}